<div class="row">
    <div class="col-8">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4">
                        <p class="mb-2"><span class="h2 me-2">Todo List</span> <span
                                class="badge bg-danger">checklist</span></p>
                        <p class="text-muted pb-2">04/01/2020 • ML - 1321</p>
                        <button class="btn btn-secondary" (click)="filterByClosed()">Fechados</button>
                        <button class="btn btn-info" (click)="showAllTasks()">Todas</button>
                        <ul class="list-group rounded-0">
                            @for(item of todoList; track $index){
                            <div class="form-check d-flex align-items-center mb-2">
                                <input class="form-check-input me-2" type="checkbox" id="example2"
                                    [(ngModel)]="item.status"
                                    (change)="updateList()">
                                <label class="form-check-label" for="example2"
                                    [className]="item.status?'text-riscado':''">
                                    {{item.description}}
                                </label>
                            </div>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <form class="row g-3" (ngSubmit)="onSubmit(todoForm)" #todoForm="ngForm">
            <div class="col-12">
                <label for="inputAddress" class="form-label">Descrição da Atividade</label>
                <input type="text" 
                class="form-control"
                 id="inputAddress"
                 placeholder="Lavar os pratos..."
                 [(ngModel)]="todoItem.description"
                 name="description">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>

