<p>dashboard works!</p>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="">
                <div class="card h-100 text-center shadow">
                    <div class="card-header bg-info"></div>
                    <div class="card-body">
                      <div class="display-4 text-success mb-2">
                        <i class="bi bi-graph-up"></i>
                      </div>
                      <h2 class="card-title mb-3">{{nCharacters}}</h2>
                      <p class="card-text text-muted">Personagens</p>
                    </div>                           
                  </div>
            </a>
        </div>
        <div class="col-md-4">
            <div class="card h-100 text-center shadow">
                <div class="card-header bg-info"></div>
                <div class="card-body">
                  <div class="display-4 text-success mb-2">
                    <i class="bi bi-graph-up"></i>
                  </div>
                  <h2 class="card-title mb-3">{{nLocations}}</h2>
                  <p class="card-text text-muted">Locais</p>
                </div>
              </div>
        </div>
          <div class="col-md-4">
            <div class="card h-100 text-center shadow">
                <div class="card-header bg-info"></div>
                <div class="card-body">
                  <div class="display-4 text-success mb-2">
                    <i class="bi bi-graph-up"></i>
                  </div>
                  <h2 class="card-title mb-3">{{nEpisodes}}</h2>
                  <p class="card-text text-muted">Episódios</p>
                </div>
              </div>
        </div>
    </div>  
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-8">ola</div>
        <div class="col-4">
            <div>
                <div class="col-12">
                    <div class="card shadow">
                        <img [src]="firstCharacter.image" alt="">
                        <!-- <img src="../../assets/img/blog/image-1.jpg" class="card-img-top rounded-top" alt="Themesberg office"> -->
                        <div class="card-body">
                            <span class="h6 icon-tertiary small"><span class="fas fa-medal me-2">
                            
                            </span>{{firstCharacter.status}}</span>
                            <h3 class="h5 card-title mt-3">{{firstCharacter.name}}</h3>
                            <p class="card-text">{{firstCharacter.created | date:'dd/MM/yyyy'}}</p>
                            <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                        </div>
                    </div>
                </div>
              </div>
            
        </div>
</div>