<div class="row">
  @if (isLoader) {
      <div class="col-6">
      </div>
      <div class="col-6">
        <div class="spinner-border text-muted"></div>
      </div>
    }
    @else {
      @for (item of designationList; track $index){
          <div class="col-3">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{item.designation}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">CEdit</a>
                    <a href="#" class="card-link">Delete</a>
                  </div>
                </div>
          </div>
      }
    }
    
</div>